.App {
  text-align: center;
  margin: auto;
  margin: 0px 300px 0px 300px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: auto;
  color: white;
}

.search-filter img{
  float: right;
}

@media (orientation: portrait) {
  /* Styles for portrait orientation */

}

.wrapper {
  /* display: flex;
  flex-direction: row;
  margin-right: 10px; */
  /* min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  /* list-style: none;
  padding-left: 0; */
  margin-right: 10px;
}

.card {
  /* display: flex;
  flex-direction: row;
  margin-right: 20px;
  color: white; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  margin: auto;
  text-align: center;
  color: white;
}